@import url('https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #f1f2f2;
}

.container {
  max-width: 980px;
}

.btn-fab {
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 1%;
  background-color: #e64a19;
  border-color: #e64a19;

  &:hover {
    background-color: #e03f0e;
    border-color: #e03f0e;
  }
}

.section-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #fff;
}
